<div id="accordion">

    <div class="card">
        <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#collapseOne">
                <h5 class="accordion-header">What is a drug-drug interaction?</h5>
            </a>
            <button onclick="copyBody('drug-interaction-body')" class="btn btn-sm btn-primary float-right">Copy</button>
        </div>
        <div id="collapseOne" class="collapse show" data-parent="#accordion">
            <div class="card-body" id="drug-interaction-body">
                <ul>
                    <li>
                        When two or more drugs react with each other and cause unwanted side effects
                    </li>
                    <li>Co-administration of colchicine and strong CYP3A4 or P-gp inhibitors significantly increase
                        colchicine toxicity and should be avoided
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                <h5 class="accordion-header">What is a colchicine toxicity?</h5>
            </a>
            <button onclick="copyBody('toxicity-body')" class="btn btn-sm btn-primary float-right">Copy</button>
        </div>
        <div id="collapseTwo" class="collapse" data-parent="#accordion">
            <div class="card-body" id="toxicity-body">
                <p>
                    "Colchicine's toxicity impairs protein assembly, decreases endocytosis and exocytosis, alteres cell
                    morphology, decreases cellular motility, arrests mitosis, and interrupts cardiac myocyte conduction
                    and
                    contractility. The culmination of these mechanisms leads to multi-organ dysfunction and failure."
                    <a href="https://pubmed.ncbi.nlm.nih.gov/20586571/">https://pubmed.ncbi.nlm.nih.gov/20586571/</a>
                </p>

                <p>
                    Symptoms of colchicine toxicity range from mild (e.g., abdominal pain, diarrhea, nausea, vomiting)
                    to
                    moderate (e.g., muscle pain, muscle weakness) to fatal (e.g., cardiac failure, renal failure).
                </p>

            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                <h5 class="accordion-header">Evidence</h5>
            </a>
            <button onclick="copyBody('evidence-body')" class="btn btn-sm btn-primary float-right">Copy</button>
        </div>
        <div id="collapseThree" class="collapse" data-parent="#accordion">
            <div class="card-body" id="evidence-body">

                <!--                <div class="card mb-2">-->
                <!--                    <div class="card-body">-->
                <!--                        <h5 class="card-title">Creator</h5>-->
                <!--                        <h6 class="text-muted">Daniel Malone, RPh, PhD, FAMCP</h6>-->
                <!--                        <div class="row">-->
                <!--                            <div class="col-lg-2 col-4 d-flex align-items-center justify-content-center">-->
                <!--                                <img class="creator-image" th:src="@{images/malone.png}">-->
                <!--                            </div>-->
                <!--                            <div class="col-lg-10 col-8">-->
                <!--                                <p>Dr. Daniel Malone is a professor at the College of Pharmacy at the University of-->
                <!--                                    Utah. He has extensive experience in developing strategies to prevent drug-drug-->
                <!--                                    interactions, improving health care professionals’ knowledge of statistical and-->
                <!--                                    research method, and evaluating the economic value of medical technologies.</p>-->
                <!--                                <p>Additional Information: <a href="https://ddi-cds.org/about-us/">https://ddi-cds.org/about-us/</a>-->
                <!--                                </p>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->

                <!--                <div class="card mb-2">-->
                <!--                    <div class="card-body">-->
                <!--                        <h5 class="card-title">Formula</h5>-->
                <!--                        <h6 class="text-muted">Risk</h6>-->
                <!--                        <ul style="list-style-type:none;">-->
                <!--                            <li>Age > 65 years = 2.50</li>-->
                <!--                            <li>On aspirin = 1.55</li>-->
                <!--                            <li>On clopidogrel = 3.66</li>-->
                <!--                            <li> On SSRI = 2.06</li>-->
                <!--                            <li> On Corticosteroids =1.44</li>-->
                <!--                            <li>Hx of GI bleeding = 5.39</li>-->
                <!--                        </ul>-->

                <!--                        <h6 class="text-muted">Protective factor</h6>-->
                <!--                        <ul style="list-style-type:none;">-->
                <!--                            <li>PPI use =0.24</li>-->
                <!--                        </ul>-->

                <!--                        <h6 class="text-muted">Equation</h6>-->
                <!--                        <ul style="list-style-type:none;">-->
                <!--                            <li><img class="evidence-image" th:src="@{images/pr_bleeding.jpg}"></li>-->
                <!--                            <li><img class="evidence-image" th:src="@{images/pr_bleeding2.jpg}"></li>-->
                <!--                            <li>-->
                <!--                                Yi=alpha+0.91*age+0.44*asa+1.29*clop+0.69*ssri+0.33*cortico+1.61*gibleed+1.10*cele+1.10*dico+1.38*ibup+2.19*indo+2.19*keto+2.89*ketr+2.08*napr+2.08*melo+2.64*piro+-->
                <!--                                (-1.42)*ppi-->
                <!--                            </li>-->
                <!--                        </ul>-->

                <!--                    </div>-->
                <!--                </div>-->
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title">Literature</h5>
                        <p>
                            Colchicine is a substrate for cytochrome P450 3A4 (CYP3A4) and P-glycoprotein (P-gp).<sup>3,6</sup>
                            In
                            patients with normal physiological functioning, up to 20% of colchicine dose is eliminated
                            unchanged
                            in urine, and approximately 50% of the absorbed colchicine dose is metabolized through
                            CYP3A4.<sup>2</sup>
                            Inhibition of CYP3A4 and P-gp may increase concentration of colchicine, which lead to
                            toxicity.<sup>3,4,5</sup> For example, use in combination with cyclosporine, a strong
                            CYP3A4/P-gp
                            inhibitor,
                            significantly increased colchicine concentration by 270 %.<sup>3</sup> Concomitant use of
                            colchicine
                            and
                            erythromycin, a moderate CYP3A4 inhibitor, has also been linked to serious adverse
                            events.<sup>18</sup> Example
                            of strong CYP3A4 inhibitors includes clarithromycin, ketoconazole, itraconazole, and
                            ritonavir;
                            moderate CYP3A4 inhibitors are erythromycin, fluconazole, verapamil, and diltiazem; and
                            strong P-gp
                            inhibitors include cyclosporine.<sup>3,7</sup>
                        </p>
                        <p>
                            Since both CYP3A4 and P-gp inhibitors are commonly prescribed for a wide variety of disease
                            states,
                            concurrent use of colchicine and CYP3A4 and P-gp inhibitors be common in clinical practice
                            settings.
                            Fatal adverse events have been reported with concomitant use of colchicine with strong
                            CYP3A4 or
                            P-gp inhibitors (e.g., clarithromycin, itraconazole, cyclosporine and some protease
                            inhibitor).<sup>5,6,8</sup> For example, a retrospective study reported that nine (10.2%) of
                            the
                            88
                            patients
                            who received clarithromycin and colchicine concomitantly died.<sup>8</sup> In addition, FDA
                            Adverse
                            Event
                            Reporting System (FAERS) received reports of 58 serious cases with 30 fatal outcomes
                            resulting from
                            concurrent use of colchicine and clarithromycin.<sup>2</sup>
                        </p>
                        <p>
                            Furthermore, concurrent use of colchicine with P-gp or strong CYP3A4 inhibitors is
                            contraindicated
                            in patients with renal impairment.<sup>4</sup> Colchicine is partially excreted through
                            kidneys<sup>1,3,9</sup>
                            and may
                            requires dose adjustment in patients with renal impairment.4 Renal impairment has been
                            reported in
                            literature to be a risk factor for colchicine toxicity that can be fatal in some cases.<sup>4,5,9-15</sup>
                            A
                            retrospective study has found that in patients who have taken clarithromycin and colchicine
                            concurrently, the presence of renal impairment at baseline (creatinine level of >140 µmol/L)
                            increased the risk of death by 9-fold (RR=9.1; 95% CI, 1.75-47.06.06; P<0.001).<sup>8</sup>
                            Moreover,
                            renal
                            disease was reported in 8 out of the 20 literature case reports of colchicine-clarithromycin
                            interaction.<sup>5</sup>
                        </p>

                        <ol>
                            <li>Solak Y, Atalay H, Biyik Z, et al. Colchicine toxicity in end-stage renal disease
                                patients: a
                                case-control study. Am J Ther. 2014;21(6):e189-195.
                            </li>
                            <li>Villa Zapata L, Hansten PD, Horn JR, et al. Evidence of Clinically Meaningful Drug-Drug
                                Interaction With Concomitant Use of Colchicine and Clarithromycin. Drug Saf.
                                2020;43(7):661-668.
                            </li>
                            <li>Terkeltaub RA, Furst DE, Digiacinto JL, Kook KA, Davis MW. Novel evidence-based
                                colchicine
                                dose-reduction algorithm to predict and prevent colchicine toxicity in the presence of
                                cytochrome P450 3A4/P-glycoprotein inhibitors. Arthritis Rheum. 2011;63(8):2226-2237.
                            </li>
                            <li>Finkelstein Y, Aks SE, Hutson JR, et al. Colchicine poisoning: the dark side of an
                                ancient
                                drug. Clin Toxicol (Phila). 2010;48(5):407-414.
                            </li>
                            <li>Todd BA, Billups SJ, Delate T, et al. Assessment of the association between colchicine
                                therapy and serious adverse events. Pharmacotherapy. 2012;32(11):974-980.
                            </li>
                            <li>Imai S, Momo K, Kashiwagi H, Miyai T, Sugawara M, Takekuma Y. Prescription of Colchicine
                                with
                                Other Dangerous Concomitant Medications: A Nation-Wide Survey Using the Japanese Claims
                                Database. Biol Pharm Bull. 2020;43(10):1519-1525.
                            </li>
                            <li>Davis MW, Wason S, Digiacinto JL. Colchicine-antimicrobial drug interactions: what
                                pharmacists need to know in treating gout. Consult Pharm. 2013;28(3):176-183.
                            </li>
                            <li>Hung IF, Wu AK, Cheng VC, et al. Fatal interaction between clarithromycin and colchicine
                                in
                                patients with renal insufficiency: a retrospective study. Clin Infect Dis.
                                2005;41(3):291-300.
                            </li>
                            <li>Dupont P, Hunt I, Goldberg L, Warrens A. Colchicine myoneuropathy in a renal transplant
                                patient.
                                Transpl Int. 2002;15(7):374-376.
                            </li>
                            <li>Wallace SL, Singer JZ, Duncan GJ, Wigley FM, Kuncl RW. Renal function predicts
                                colchicine
                                toxicity: guidelines for the prophylactic use of colchicine in gout. J Rheumatol.
                                1991;18(2):264-269.
                            </li>
                            <li>Le Quintrec JS, Le Quintrec JL. Drug-induced myopathies. Baillieres Clin Rheumatol.
                                1991;5(1):21-38.
                            </li>
                            <li>van der Velden W, Huussen J, Ter Laak H, de Sévaux R. Colchicine-induced neuromyopathy
                                in a
                                patient with chronic renal failure: the role of clarithromycin. Neth J Med.
                                2008;66(5):204-206.
                            </li>
                            <li>Pirzada NA, Medell M, Ali, II. Colchicine induced neuromyopathy in a patient with normal
                                renal
                                function. J Clin Rheumatol. 2001;7(6):374-376.
                            </li>
                            <li>Medani S, Wall C. Colchicine toxicity in renal patients – Are we paying attention? Clin
                                Nephrol.
                                2016;86(2):100-105.
                            </li>
                            <li>Garrouste C, Philipponnet C, Kaysi S, Enache I, Tiple A, Heng AE. Severe colchicine
                                intoxication
                                in a renal transplant recipient on cyclosporine. Transplant Proc. 2012;44(9):2851-2852.
                            </li>
                        </ol>


                        <!--                        <div class="row">-->
                        <!--                            <div class="col-lg-2 col-4 d-flex align-items-center justify-content-center">-->
                        <!--                                <a target="_blank" href=""><img-->
                        <!--                                        class="literature-image" th:src="@{images/pubmed.png}"></a>-->
                        <!--                            </div>-->
                        <!--                            <div class="col-lg-10 col-8">-->
                        <!--                                <a target="_blank" href=""><p>-->

                        <!--                                </p>-->
                        <!--                                </a>-->
                        <!--                            </div>-->
                        <!--                        </div>-->


                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<script>
    function copyBody(containerid) {
        if (document.selection) {
            var range = document.body.createTextRange();
            range.moveToElementText(document.getElementById(containerid));
            range.select().createTextRange();
            document.execCommand("copy");
        } else if (window.getSelection) {
            var range = document.createRange();
            range.selectNode(document.getElementById(containerid));
            window.getSelection().removeAllRanges();
            window.getSelection().addRange(range);
            document.execCommand("copy");
        }
    }
</script>
