<div id="accordion">

    <div class="card">
        <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#collapseOne">
                <h5 class="accordion-header">What is a drug-drug interaction?</h5>
            </a>
            <button onclick="copyBody('drug-interaction-body')" class="btn btn-sm btn-primary float-right">Copy</button>
        </div>
        <div id="collapseOne" class="collapse show" data-parent="#accordion">
            <div class="card-body" id="drug-interaction-body">
                <ul>
                    <li>
                        When two or more drugs react with each other and cause unwanted side effects
                    </li>
                    <li>Concurrent use of tizanidine and strong CYP1A2 inhibitors, such as ciprofloxacin, fluvoxamine,
                        and zafirlukast is not recommended because it may significantly increase tizanidine level which
                        can lead to severe adverse events
                    </li>
                </ul>
            </div>
        </div>
    </div>

<!--    <div class="card">-->
<!--        <div class="card-header">-->
<!--            <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">-->
<!--                <h5 class="accordion-header">What is a colchicine toxicity?</h5>-->
<!--            </a>-->
<!--            <button onclick="copyBody('toxicity-body')" class="btn btn-sm btn-primary float-right">Copy</button>-->
<!--        </div>-->
<!--        <div id="collapseTwo" class="collapse" data-parent="#accordion">-->
<!--            <div class="card-body" id="toxicity-body">-->
<!--                <p>-->
<!--                    "Colchicine's toxicity impairs protein assembly, decreases endocytosis and exocytosis, alteres cell-->
<!--                    morphology, decreases cellular motility, arrests mitosis, and interrupts cardiac myocyte conduction-->
<!--                    and-->
<!--                    contractility. The culmination of these mechanisms leads to multi-organ dysfunction and failure."-->
<!--                    <a href="https://pubmed.ncbi.nlm.nih.gov/20586571/">https://pubmed.ncbi.nlm.nih.gov/20586571/</a>-->
<!--                </p>-->

<!--                <p>-->
<!--                    Symptoms of colchicine toxicity range from mild (e.g., abdominal pain, diarrhea, nausea, vomiting)-->
<!--                    to-->
<!--                    moderate (e.g., muscle pain, muscle weakness) to fatal (e.g., cardiac failure, renal failure).-->
<!--                </p>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <div class="card">
        <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                <h5 class="accordion-header">Evidence</h5>
            </a>
            <button onclick="copyBody('evidence-body')" class="btn btn-sm btn-primary float-right">Copy</button>
        </div>
        <div id="collapseThree" class="collapse" data-parent="#accordion">
            <div class="card-body" id="evidence-body">
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title">Literature</h5>
                        <p>Ciprofloxacin, fluvoxamine and zafirlukast inhibit CYP 1A2 and can increase the tizanidine
                            area-under-the-concentration time curve (AUC) by more than 5-fold increased of
                            tizanidine.<sup>7</sup>
                            Previous studies found that concurrent use tizanidine with ciprofloxacin or fluvoxamine
                            increased tizanidine AUC levels by 10-fold and 33-fold, respectively.<sup>1, 5, 8</sup>
                        </p>

                        <p>
                            In a pharmacokinetic study, ciprofloxacin increased the area under the plasma-concentration
                            curve of tizanidine by an average of 10-fold (range 6-fold to 24-fold).<sup>1,
                            6</sup> Concurrent use of
                            tizanidine and ciprofloxacin has been reported to induce adverse effects of tizanidine such
                            as
                            lowering blood pressure (BP), and heart rate (HR).<sup>9</sup> A
                            retrospective cohort study of 199
                            patients taking tizanidine plus ciprofloxacin and 960 patients taking tizanidine plus a
                            different antibiotic found that co-administration of tizanidine and ciprofloxacin was
                            associated
                            with an increased risk of hospitalization by 2.19-fold (95% CI, 0.88-5.02) within 7
                            days after
                            prescription of the antibiotic, 1.52-fold (95% CI, 0.63-3.33) within 14 days and
                            1.68-fold (95%
                            CI, 0.84-3.17) within 30 days. <sup>6</sup>
                        </p>

                        <p>
                            In healthy adults, co-administration of tizanidine and ciprofloxacin can decrease systolic
                            blood
                            pressure by 35 mm Hg.<sup>1</sup> Furthermore, case reports have noted incidences of severe
                            hypotension
                            when tizanidine was administered concomitantly with ciprofloxacin.<sup>4, 9</sup> Also, a
                            retrospective
                            study of ICSRs registered in the WHO global database until March 1, 2017 reported that among
                            91
                            patients receiving both tizanidine and ciprofloxacin concurrently, two fatal cases were
                            reported.<sup>2</sup>
                        </p>

                        <p>
                            A previous study also reported that fluvoxamine increased tizanidine AUC up to 33-
                            fold.<sup>5, 8</sup>
                            Concurrent use of tizanidine and fluvoxamine can reduce systolic blood pressure by 36 mm
                            Hg.<sup>5,
                            8</sup> Tizanidine adverse symptoms such as low heart rate, low body temperature, dry
                            mouth, and
                            enuresis has been reported in a patient taking tizanidine and fluvoxamine
                            simultaneously.<sup>4</sup>
                            Moreover, a retrospective study of 913 patients treated with tizanidine found that among 23
                            patients who received fluvoxamine together with tizanidine, 6 patients experienced
                            tizanidine
                            adverse event such as low heart rate, dizziness, low body temperature, drowsiness,
                            hypotension
                            or speech disorder.<sup>4</sup> Case reports have noted instances of dizziness when
                            tizanidine was
                            administered concomitantly with fluvoxamine.<sup>5, 10</sup> Moreover, a cohort study of
                            1,626 patients
                            prescribed tizanidine and 5,012 prescribed cyclobenzaprine concurrently with a strong CYP1A2
                            inhibitor (either ciprofloxacin or fluvoxamine), found tizanidine cohort had higher
                            risk of
                            experiencing of hypotension (OR=1.26, 95% CI, 1.03-1.54) and severe hypotension,
                            SBP ≤70 mm Hg,
                            with an OR= OR=1.60, 95% CI, 1.05–2.45) compared to cyclobenzaprine cohort.<sup>5</sup>
                        </p>

                        <ol>
                            <li>
                                Granfors MT, Backman JT, Neuvonen M, Neuvonen PJ. Ciprofloxacin greatly increases
                                concentrations and hypotensive effect of tizanidine by inhibiting its cytochrome P450
                                1A2-mediated presystemic metabolism. Clin Pharmacol Ther. 2004;76(6):598-606. Epub
                                2004/12/14. doi: 10.1016/j.clpt.2004.08.018. PubMed PMID: 15592331.
                            </li>

                            <li> Rudolph A, Dahmke H, Kupferschmidt H, Burden A, Weiler S. Coadministration of
                                tizanidine
                                and ciprofloxacin: a retrospective analysis of the WHO pharmacovigilance database. Eur J
                                Clin Pharmacol. 2021. Epub 2021/01/07. doi: 10.1007/s00228-020-02981-2. PubMed PMID:
                                33404754.
                            </li>

                            <li>Jogiraju VK, Heimbach T, Toderika Y, Taft DR. Physiologically based pharmacokinetic
                                modeling of altered tizanidine systemic exposure by CYP1A2 modulation: Impact of
                                drug-drug interactions and cigarette consumption. Drug Metab Pharmacokinet.
                                2020;37:100375. Epub 2021/02/10. doi: 10.1016/j.dmpk.2020.100375. PubMed PMID: 33561738.
                            </li>
                            <li>Momo K, Doki K, Hosono H, Homma M, Kohda Y. Drug interaction of tizanidine and
                                fluvoxamine. Clin Pharmacol Ther. 2004;76(5):509-10. Epub 2004/11/13. doi:
                                10.1016/j.clpt.2004.08.003. PubMed PMID: 15536467.
                            </li>

                            <li>Chaugai S, Dickson AL, Shuey MM, Feng Q, Barker KA, Wei WQ, Luther JM, Stein CM, Chung
                                CP. Co-Prescription of Strong CYP1A2 Inhibitors and the Risk of Tizanidine-Associated
                                Hypotension: A Retrospective Cohort Study. Clin Pharmacol Ther. 2019;105(3):703-9. Epub
                                2018/09/18. doi: 10.1002/cpt.1233. PubMed PMID: 30223305; PMCID: PMC6379114.
                            </li>

                            <li>Jödicke AM, Curkovic I, Zellweger U, Tomka IT, Neuer T, Kullak-Ublick GA, Roos M,
                                Egbring M. Analysis of Drug-Drug Interactions in Swiss Claims Data Using Tizanidine and
                                Ciprofloxacin as a Prototypical Contraindicated Combination. Ann Pharmacother.
                                2018;52(10):983-91. Epub 2018/05/12. doi: 10.1177/1060028018775914. PubMed PMID:
                                29749261; PMCID: PMC6136070.
                            </li>

                            <li>Horn JR, Hansten PD. The Top 100 Drug Interactions: A Guide to Patient Management: H&h
                                Publications; 2021.
                            </li>

                            <li>Granfors MT, Backman JT, Neuvonen M, Ahonen J, Neuvonen PJ. Fluvoxamine drastically
                                increases concentrations and effects of tizanidine: a potentially hazardous interaction.
                                Clin Pharmacol Ther. 2004;75(4):331-41. Epub 2004/04/03. doi:
                                10.1016/j.clpt.2003.12.005. PubMed PMID: 15060511.
                            </li>

                            <li>Momo K, Homma M, Kohda Y, Ohkoshi N, Yoshizawa T, Tamaoka A. Drug interaction of
                                tizanidine and ciprofloxacin: case report. Clin Pharmacol Ther. 2006;80(6):717-9. Epub
                                2006/12/21. doi: 10.1016/j.clpt.2006.08.017. PubMed PMID: 17178273.
                            </li>

                            <li>Hori S, Matsuo N, Yamamoto A, Hazui T, Yagi H, Nakano M, Suzuki Y, Miki A, Ohtani H,
                                Sawada Y. Piloerection induced by replacing fluvoxamine with milnacipran. Br J Clin
                                Pharmacol. 2007;63(6):665-71. Epub 2007/02/28. doi: 10.1111/j.1365-2125.2006.02838.x.
                                PubMed PMID: 17324248; PMCID: PMC2000592.
                            </li>
                        </ol>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<script>
    function copyBody(containerid) {
        if (document.selection) {
            var range = document.body.createTextRange();
            range.moveToElementText(document.getElementById(containerid));
            range.select().createTextRange();
            document.execCommand("copy");
        } else if (window.getSelection) {
            var range = document.createRange();
            range.selectNode(document.getElementById(containerid));
            window.getSelection().removeAllRanges();
            window.getSelection().addRange(range);
            document.execCommand("copy");
        }
    }
</script>
