<div class="mb-4" id="alternative-options">
    <div class="card">
        <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#alternative-collapse">
                <h5 class="accordion-header">Alternative Options</h5>
            </a>
        </div>

        <div id="alternative-collapse" class="collapse" data-parent="#alternative-options">
            <div class="card-body scroll">
               <p th:utext="${alternative.getAlternativeText()}"></p>
            </div>
        </div>
    </div>
</div>
