<div class="mb-4" id="clinical-explanation">
    <div class="card">
        <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#clinical-collapse">
                <h5 class="accordion-header">Clinical Explanation</h5>
            </a>
        </div>

        <div id="clinical-collapse" class="collapse" data-parent="#clinical-explanation">
            <div class="card-body scroll">
                <p id="clinical-explanation-body" th:utext="${summary.getClinicalSummary()}"></p>
            </div>
        </div>
    </div>
</div>
