<head>
    <meta charset="utf-8">
    <title>DDInteract</title>

    <link th:href="@{assets/css/style.css}" rel="stylesheet"/>

    <!--  Bootstrap components-->
    <link th:href="@{assets/css/bootstrap/bootstrap.css}" rel="stylesheet"/>
    <script th:src="@{assets/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{assets/js/bootstrap/bootstrap.bundle.js}"></script>

    <!--  Bootstrap toggle-->
    <link th:href="@{assets/css/bootstrap/bootstrap4-toggle.min.css}" rel="stylesheet">
    <script th:src="@{assets/js/bootstrap/bootstrap4-toggle.min.js}"></script>

    <!--    DataTables-->
    <link th:href="@{assets/css/datatables/datatables.min.css}" rel="stylesheet"/>
    <script th:src="@{assets/js/datatables/datatables.min.js}"></script>
    <script th:src="@{assets/js/datatables/dataTables.rowsGroup.js}"></script>

</head>

