<div class="card mb-4">
    <h5 class="card-header" th:text="'Risk Profile for ' + ${patientName}"></h5>
    <div class="card-body">
        <div th:switch="${colchicine != null}">
            <div th:case="true">
                <p>
                    <span>The patient is currently taking</span>
                    <span class="font-weight-bold" th:text="${#strings.toLowerCase(colchicine.getDisplay())}"></span>
                </p>
            </div>
            <div th:case="false">
                <p>
                    <span class="font-weight-bold">This patient is not currently on a Colchicine.</span>
                </p>
            </div>
        </div>

        <div th:switch="${alternative.getDrugName() != null}">
            <p th:case="true">
                <span>The medication</span>
                [<span class="font-weight-bold" th:text="${#strings.toLowerCase(alternative.getDrugName())}"></span>]
                <span>will interact with colchicine by inhibition of CYP3A4/PGP.</span>
            </p>
            <p th:case="false">
                <span class="font-weight-bold">No CYP3A4/PGP inhibitor was found.</span>
            </p>
        </div>


        <div th:each="riskFactor : ${riskFactors}">
            <div th:switch="${riskFactor.getHasRiskFactor()}">
                <div class="form-check">
                    <div class="form-check form-check-inline">
                        <input data-toggle="toggle" class="form-check-input" data-size="xs" data-on="Yes" data-off="No"
                               type="checkbox" value=""
                               th:name="${riskFactor.getRiskName()}"
                               id="risk-factor" th:case="true" checked disabled>
                        <input data-toggle="toggle" class="form-check-input" data-size="xs" data-on="Yes" data-off="No"
                               type="checkbox" value="" th:name="${riskFactor.getRiskName()}"
                               id="risk-factor" th:case="false">

                        <div class="risk-factor-label" th:switch="${riskFactor.getEffectiveDate() != null}">
                            <label class="form-check-label" for="" th:case="true"
                                   th:text="${riskFactor.getRiskName()} + ' (' + ${riskFactor.getEffectiveDate()} + ')'"></label>
                            <label class="form-check-label" for="" th:case="false"
                                   th:text="${riskFactor.getRiskName()}"></label>
                        </div>
                    </div>


                    <div th:switch="${riskFactor.getRiskName() == 'eGFR'}">
                        <input id="eGFR-value" th:case="true" class="form-control" style="display: none;"
                               th:value="${riskFactor.getValue()}" placeholder="eGFR Value"/>
                    </div>

                    <input id="alternative-risk-factor" style="display: none;" th:value="${alternative.getDrugName()}">
                </div>
            </div>
        </div>

        <div th:replace="heatmap" th:with="serumCreatinineEGFR=${serumCreatinineEGFR}"/>
    </div>
</div>

<script>
    function updateRiskFactors() {
        let checked = document.querySelectorAll("input[type=checkbox]:checked");
        let checkedRiskFactors = [];
        checked.forEach(check => {
            checkedRiskFactors.push(check.name);
        });

        let unchecked = document.querySelectorAll("input[type=checkbox]:not(:checked)");
        let uncheckedRiskFactors = [];
        unchecked.forEach(check => {
            uncheckedRiskFactors.push(check.name);
        });

        let eGFRValue = $('#eGFR-value').val();

        //Rebuild heatmap table
        refreshTable(eGFRValue);

        let alternativeDrug = $('#alternative-risk-factor').val();

        $.get('/cyp3a4Summary', $.param({
            checkedRiskFactors: checkedRiskFactors,
            uncheckedRiskFactors: uncheckedRiskFactors,
            eGFRValue: eGFRValue,
            alternativeDrug: alternativeDrug
        }, true), function (data) {
            let summary = JSON.parse(data);
            $('#summary-symbol').html(summary['warningSymbol']);
            $('#summary-body').html(summary['summary']);
            $('#clinical-explanation-body').html(summary['clinicalSummary']);
        });
    }

    $('#eGFR-value').keyup(function () {
        console.log(this.id);
        updateRiskFactors();
    });

    $('input:checkbox').change(function () {
        if (this.name == 'eGFR' && this.checked) {
            $('#eGFR-value').val("");
            $('#eGFR-value').show();
        }
        if (this.name == 'eGFR' && !this.checked) {
            $('#eGFR-value').val("");
            $('#eGFR-value').hide();
        }
        updateRiskFactors();
    });
</script>
